.about-section {
  @media screen and (max-width: $mobile) {
    padding: 50px 0px 0px 0px;
  }
}
.about-section__title {
  margin: 0px 0px 0px 50px;
}

.about-content {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.about-section__title:before {
  content: '';
  display: inline-block;
  background-color: $color_accent;
  width: 32px;
  height: 2px;
  position: absolute;
  left: -48px;
  top: 50%;
}

.about-content__title {
  @media screen and (min-width: $desktop) {
    width: 600px;
    height: auto;
    margin: 0px;
  }

  @media screen and (max-width: $mobile) {
    width: 390px;
    height: auto;
    margin: 8px 0px 16px 0px;
  }
}

.about-content__block {
  @media screen and (min-width: $desktop) {
    width: 497px;
    margin: 0px 0px 0px 123px;
  }
}

.about-content__paragraf {
  color: $color_medium;
  margin: 0px;
}

.about-content__svg {
  display: flex;
  margin: 24px 0px 0px 0px;
  align-items: center;

  @media screen and (max-width: $mobile) {
    margin: 16px 0px 32px 0px;
  }
}
