.hero-section{
padding-top: 40px;
@media screen and (max-width: $mobile) {
  padding-top: 15px;
}
}

.hero-body {
  display: flex;
}

.hero-img {
  position: relative;
}

.hero-img__desktop {
  @media screen and (min-width: $desktop) {
    max-width: 600px;
    max-height: 703;
  }

  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.hero-img__mobile {
  @media screen and (min-width: $desktop) {
    display: none;
  }

  @media screen and (max-width: $mobile) {
    max-width: 188px;
    max-height: 319px;
  }
}



.hero-box__line {
  background-color: $color_dark;
  width: 54px;
  height: 1px;
  position: absolute;
  transform: rotate(-90deg);
  bottom: 32px;
  right: 52px;
  z-index: 2;
  @media screen and (max-width: $mobile) {
    width: 34px;
    bottom: 24px;
    right: 38px;
  }
}

.hero-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f8f8f8;
  width: 169px;
  height: 70px;
  border: 2px solid $color_dark;
  position: absolute;
  top: 638px;
  right: 0px;
  z-index: 1;

  @media screen and (max-width: $mobile) {
    width: 109px;
    height: 50px;
    top: 270px;
    right: 0px;
  }
}

.hero-content {
  margin: 0px 0px 0px 65px;

  @media screen and (max-width: $mobile) {
    margin: 0px 0px 0px 20px;
  }
}

.hero-content__wrapping{
  max-width: 556px;
  max-height: 300px;
  margin:153px 0px 55px 0px;
  @media screen and (max-width: $mobile) {
    max-width: 182px;
    max-height: 108px;
    margin:65px 0px 32px 0px;
  }
}

.hero-content__title {
  font-family: $font_basic;
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 1.09;
  color: $color_dark;
  margin: 0px;

  @media screen and (max-width: $mobile) {
    font-size: 30px;
    line-height: 1.2;
  }
}

.hero-button__iconarrow {
  fill: $color_white;
}

.swiper {
  max-width: 598px;
  max-height: 708px;
  margin: 0px;

  @media screen and (max-width: $mobile) {
    max-width: 188px;
    max-height: 319px;
  }
}

.button-prev {
  font-size: 20px;

  &:hover {
    color: $color_accent;
}
  @media screen and (max-width: $mobile) {
    font-size: 14px;
  }
}
.button-next {
  font-size: 20px;

  &:hover {
    color: $color_accent;
}
  @media screen and (max-width: $mobile) {
    font-size: 14px;
  }
}

