.services-section {
  padding-top: 100px;
  @media screen and (max-width: $mobile) {
    padding-top: 50px;
  }
}

.services-section__title {
  margin: 0px 0px 0px 50px;

  @media screen and (max-width: $mobile) {
    margin: 0px 0px 0px 30px;
  }
}
.services-section__title:before {
  content: '';
  display: inline-block;
  background-color: $color_accent;
  width: 32px;
  height: 2px;
  position: absolute;
  left: -50px;
  top: 40%;
  @media screen and (max-width: $mobile) {
    width: 20px;
    left: -28px;
  }
}

.services-content {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
  }
}

.services-content__title {
  height: auto;
  @media screen and (min-width: $desktop) {
    max-width: 770px;
    margin: 0px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 390px;
    margin: 8px 0px 10px 0px;
  }
}

.content__subparagraf--link{
  color: $color_dark;

  &:hover {
    color: $color_accent;
}
}

.services-content__block {
  display: flex;
  align-items: center;
}

.services-row {
  @media screen and (min-width: $desktop) {
    display: flex;
    padding: 72px 0px 100px 0px;
  }

  @media screen and (max-width: $mobile) {
    padding: 20px 0px 50px 0px;
  }
}

.services-column {
  max-width: 393px;
  height: auto;
  background: $color_white;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-right: 0px;
  &:not(:last-child) {
    margin-right: 20px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 390px;
    height: auto;
    margin-bottom: 0px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.services-item{
  margin: 0px;
  padding: 32px 32px 65px 32px;
}

.services-item__title {
  font-family: $font_basic;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.375em;
  text-transform: uppercase;
  color: $color_light;
  margin: 0px;
  position: relative;
}



.services-item__title:before {
  content: '';
  display: inline-block;
  background-color: $color_accent;
  width: 47px;
  height: 4px;
  position: absolute;
  transform: rotate(-90deg);
  left: -55px;
  top: 10px;
  @media screen and (max-width: $mobile) {
    left: -53px;
    top: 5px;
  }}

.services-item__subtitle {
  font-family: $font_basic;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.0105em;
  color: $color_dark;
  margin: 8px 0px 0px 0px;
  @media screen and (max-width: $mobile) {
    font-size: 18px;
    margin: 8px 0px 0px 0px;
  }
}

.services-item__paragraf {
  color: $color_medium;
  margin: 24px 0px 0px 0px;
  @media screen and (max-width: $mobile) {
    margin: 16px 0px 0px 0px;
  }
}

.services-item__iconplus {
  font-size: 25px;
  color: $color_dark;
}



.services-item__iconplus-background {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 57px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  &:hover {
    background: $color_accent;
    .services-item__iconplus {
      color: $color_white;
    }
  }
}
