$color_white: #ffffff;
$color_more_light: #c2c2c2;
$color_light: #aba9af;
$color_medium: #5f5f5f;
$color_input: #3d3d3d;
$color_dark: #252525;
$color_accent: #7637dd;

$font_basic: 'Poppins';
$font_details: 'Lato';

$mobile: 420px;
$desktop: 1439px;
