<section class="container">
  <div class="about-section">
    <p class="about-section__title section__title--text">About us</p>
    <div class="about-content">
      <h2 class="about-content__title content-title__text">
        Sit bibendum id proin felis auctor erat ac.
      </h2>
      <div class="about-content__block">
        <h3 class="about-content__paragraf paragraf--text">
          Aliquam egestas hac morbi eu. Eros, elit est diam mattis laoreet faucibus lectus. Cursus
          sed tellus augue morbi pulvinar. Consequat nisi, integer potenti consectetur. Sed leo
          massa morbi iaculis viverra.
        </h3>
        <div class="about-content__svg">
          <p class="content__subparagraf--text">read more</p>
          <svg class="content--iconarrow" width="11">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
