<section class="container">
  <div class="about-section">
    <p class="about-title">About us</p>
    <div class="about-content">
      <h2 class="about-content__title">Sit bibendum id proin felis auctor erat ac.</h2>
      <div class="about-content__block">
        <h3 class="about-content__block-paragraf">
          Aliquam egestas hac morbi eu. Eros, elit est diam mattis laoreet faucibus lectus. Cursus
          sed tellus augue morbi pulvinar. Consequat nisi, integer potenti consectetur. Sed leo
          massa morbi iaculis viverra.
        </h3>
        <div class="about-content__block-svg">
          <p class="about-content__block-subparagraf">read more</p>
          <svg class="about-content__block-iconarrow" width="11">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
