<header>
  <div class="header-section">
    <div class="header-block">
      <a class="header-link__logo" href="">
        <svg class="header-logo" width="224" aria-label="logo">
          <use href="./images/sprite.svg#icon-logo-white"></use>
        </svg>
      </a>
      <button class="header-menu__button" aria-expanded="false" type="button" data-menu-button>
        <svg width="22" height="22" aria-label="Mobile menu">
          <use class="header-menu__icon-close" href="./images/sprite.svg#icon-header-close"></use>
          <use class="header-menu__icon-burger" href="./images/sprite.svg#icon-header-burger"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="header-container" data-menu>
    <nav>
      <ul class="header-menu">
        <li class="header-menu__list"><a class="header-menu__link" href="">Home</a></li>
        <li class="header-menu__list"><a class="header-menu__link" href="">About</a></li>
        <li class="header-menu__list"><a class="header-menu__link" href="">Services</a></li>
        <li class="header-menu__list"><a class="header-menu__link" href="">News</a></li>
        <li class="header-menu__list"><a class="header-menu__link" href="">Contacts</a></li>
      </ul>
    </nav>
    <div class="header-menu__backdrop"></div>
  </div>
</header>
