<header>
<div class="header-section">
  <div class="container">
    <div class="header-body ">
      <a href="">
        <svg class="header-logo" width="204" aria-label="logo">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="header-button" aria-expanded="false" type="button" data-button>
        <svg width="22" height="22" aria-label="Mobile menu">
          <use class="header-button__icon-close" href="./images/sprite.svg#icon-header-close"></use>
          <use class="header-button__icon-burger" href="./images/sprite.svg#icon-header-burger"></use>
        </svg>
      </button>
    </div>
</div>
  </div>
  <div class="header-menu" data-menu>
    <nav>
      <ul class="header-menu__list">
        <li class="header-menu__item"><a class="header-menu__link" href="">Home</a></li>
        <li class="header-menu__item"><a class="header-menu__link" href="">About</a></li>
        <li class="header-menu__item"><a class="header-menu__link" href="">Services</a></li>
        <li class="header-menu__item"><a class="header-menu__link" href="">News</a></li>
        <li class="header-menu__item"><a class="header-menu__link" href="">Contacts</a></li>
      </ul>
    </nav>
    <div class="header-menu__backdrop"></div>
  </div>


</header>
