<section class="container">
  <div class=" services-section">
  <p class="services-title">Services</p>
  <div class="services-content">
    <h2 class="services-content__title">Full-service digital capabilities from end to end.</h2>
    <div class="services-content__block">
      <p class="services-content__block-subparagraf">See all services</p>
      <svg class="services-content__block-iconarrow" width="11">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
  <div class="services-type">
    <div class="services-type__block">
      <p class="services-type__block-title">Experiences</p>
      <h3 class="services-type__block-paragraf">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius.
      </h3>
      <p class="services-type__block-subparagraf">
        Molestie facilisis sit nisl imperdiet nunc, enim sed a. Mi ac ut arcu sollicitudin
        pellentesque.
      </p>
      <a href="" class="services-type__block-iconplus__background">
        <svg class="services-type__block-iconplus" width="30">
          <use href="./images/sprite.svg#icon-plus"></use>
        </svg>
      </a>
    </div>
    <div class="services-type__block">
      <p class="services-type__block-title">Campaigns</p>
      <h3 class="services-type__block-paragraf">
        Cras sit cras eget interdum. Suspendisse nibh mattis non fames sit.
      </h3>
      <p class="services-type__block-subparagraf">
        Erat in ut nunc, morbi dictumst et lectus ligula enim. Porta porta nibh purus ac sit morbi
        et.
      </p>
      <a href="" class="services-type__block-iconplus__background">
        <svg class="services-type__block-iconplus" width="25">
          <use href="./images/sprite.svg#icon-plus"></use>
        </svg>
      </a>
    </div>
    <div class="services-type__block">
      <p class="services-type__block-title">Studio</p>
      <h3 class="services-type__block-paragraf">
        Mattis amet tincidunt sem morbi lacus blandit donec arcu dolor.
      </h3>
      <p class="services-type__block-subparagraf">
        Bibendum molestie tellus maecenas eget. Risus aenean vestibulum id porttitor mattis.
      </p>
      <a href="" class="services-type__block-iconplus__background">
        <svg class="services-type__block-iconplus" width="25">
          <use href="./images/sprite.svg#icon-plus"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
