<section class="container">
  <div class="services-section">
    <p class="services-section__title section__title--text">Services</p>
    <div class="services-content">
      <h2 class="services-content__title content-title__text">
        Full-service digital capabilities from end to end.
      </h2>
      <div class="services-content__block">
        <p class="content__subparagraf--text">See all services</p>
        <svg class="content--iconarrow" width="11">
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
    <div class="services-type">
      <div class="services-type__block">
        <p class="services-type__title">Experiences</p>
        <h3 class="services-type__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius.
        </h3>
        <p class="services-type__paragraf paragraf--text">
          Molestie facilisis sit nisl imperdiet nunc, enim sed a. Mi ac ut arcu sollicitudin
          pellentesque.
        </p>
        <a href="" class="services-type__iconplus-background">
          <svg class="services-type__iconplus" width="30">
            <use href="./images/sprite.svg#icon-plus"></use>
          </svg>
        </a>
      </div>
      <div class="services-type__block">
        <p class="services-type__title">Campaigns</p>
        <h3 class="services-type__subtitle">
          Cras sit cras eget interdum. Suspendisse nibh mattis non fames sit.
        </h3>
        <p class="services-type__paragraf paragraf--text">
          Erat in ut nunc, morbi dictumst et lectus ligula enim. Porta porta nibh purus ac sit morbi
          et.
        </p>
        <a href="" class="services-type__iconplus-background">
          <svg class="services-type__iconplus" width="30">
            <use href="./images/sprite.svg#icon-plus"></use>
          </svg>
        </a>
      </div>
      <div class="services-type__block">
        <p class="services-type__title">Studio</p>
        <h3 class="services-type__subtitle">
          Mattis amet tincidunt sem morbi lacus blandit donec arcu dolor.
        </h3>
        <p class="services-type__paragraf paragraf--text">
          Bibendum molestie tellus maecenas eget. Risus aenean vestibulum id porttitor mattis.
        </p>
        <a href="" class="services-type__iconplus-background">
          <svg class="services-type__iconplus" width="30">
            <use href="./images/sprite.svg#icon-plus"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
